/* *{
  margin: 0;
  padding: 0;
}
*/ 

h3 {
  color: green;
}

body {
  background-color: #f4f4f4;
  color: black;
  font-family: "arial", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* both same way of doing things*/
  font: normal 16px arial, helvetica, sans-serif;

  line-height: 1.6em;

  margin: 0;

}

.container {
  width: 80%;
  margin: auto;
}
.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    /* same thing as top
    border: 5px red solid; */

    border-top-style: dotted;

    padding: 20px;

    margin-top: 20px;
    margin: 20px 0;
}

.box-1 h1{

  font-family: Tahoma; 
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2{

  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

