/* *{
  margin: 0;
  padding: 0;
}
*/ 

h3 {
  color: green;
}

body {
  background-color: #f4f4f4;
  color: black;
  font-family: "arial", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* both same way of doing things*/
  font: normal 16px arial, helvetica, sans-serif;

  line-height: 1.6em;

  margin: 0;

}

/*global style to links*/
a{
  text-decoration: none; /*gets rid of underline on links*/
  color: black; /*changes link color from default blue to black*/
}

a:hover{
  color: red; /* when you hover over the link, it changes to color red*/
}

a:active{
  color: green; /*when i click on the link, it changes to green for a quick sec*/
}

a:visited{
  /*color: aqua;/* turns that color if you clicked on link before; if two links point to same link, itll both turn that color*/
}

.container {
  width: 80%;
  margin: auto;
}

/*
.my-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;

}
Same as below except this applies globally to all button class
*/

.button{
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: none;
}

.button:hover{
  background-color: red;
  color: white;
}

.box-1{
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;

    /* same thing as top
    border: 5px red solid; */

    border-top-style: dotted;

    padding: 20px;

    margin-top: 20px;
    margin: 20px 0;
}

.box-1 h1{

  font-family: Tahoma; 
  font-style: italic;
  font-weight: 800;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 1em;
}

.box-2{

  border: 3px dotted #ccc;
  padding: 20px;
  margin: 20px 0;
}

.categories{
  border: 1px #ccc solid;
  padding: 10px;
  border-radius: 15px;
}

.categories h2{
  text-align: center;
}

.categories ul{
  padding: 0;
  padding-left: 20px;
  list-style: square;
  list-style: none;
}

.categories li{
  padding-bottom: 6px; /*padding creates distance between the element, which are the list words, and the border*/
  border-bottom: dotted 1px #333;
  list-style-image: url('./images/check.png');
}

.my-form{
  padding: 20px;
}

.my-form .form-group{
  padding-bottom: 20px;
}

.my-form label{
  display: block;
}

/*this would originally target all types of input, in which the submit button is also included.*/
/*by using the brackets you only target the name and email input box and leave the submit button alone*/
.my-form input[type="text"], .my-form textarea{ 
  padding: 8px; 
  width: 100%;
} 



