h3 {
  color: green;
}

body {
  background-color: #f4f4f4;
  color: black;
  font-family: "arial", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* both same way of doing things*/
  font: normal 16px arial, helvetica, sans-serif;

  line-height: 16em;

  margin: 0;
}
.box-1{
    background-color: #333;
}

