h3 {
  color: green;
}

body {
  background-color: #f4f4f4;
  color: aqua;
  font-family: "arial", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;

  font: bold 16px arial, helvetica, sans-serif; both accomplish the same thing
}
