* {
    box-sizing: border-box;
}

.box{
    width: 100px;
    height: 100px;
    border: 4px solid lightgray;
}

.box-small{
    width: 50px;
    height: 50px;
    margin-left: 24px;
}

.container{
    border: 4px solid lightgray;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.space{
    display: flex;
    align-items: center;
}


.container2{
    border: 4px solid lightgray;
    padding: 24px 24px 0 24px;
    margin-bottom: 20px;
}

.row{
    width: 100%;
    max-width: 80%;
    margin: 0 auto; /* this centers elements of the page*/
}

.box2-div{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.rectangle{
    border: 2px solid lightgray;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.box2{
    border: 4px solid lightgray;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
}


.container3{
    border: 4px solid lightgray;
    
}

.box3{
    border: 2px solid lightgray;
    height: 100px;
    margin-bottom: 24px;
}

.box-wrapper{
    width: 50%;
}

.bigbox{
    width: 50%;
}
